<!DOCTYPE html>
<html>
    <head>
        <script src="{{ url_for('static',filename='code.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/sheet.css') }}">
    </head>
    {% block content %}
    <body style="background-color: #0c0f1d;"

    <div class="centerCard">    
        <div class="infoCard">
           <!-- <label id="message">Welcome!</label>-->
                <label style="color: white;" ></label>
                <input class="rounded" id="username" placeholder="Enter Username" type="text" />

                <label  style="color: white;"></label>
                <input class="rounded" id="password" placeholder="Enter Password" type="text" />
            </div>  
            <button class="loginCard"  onclick="readLogin()">Log In</button>
         
    </div>
    </body>
   
    {% endblock %}
    </html>