<!DOCTYPE html>
<html>
    <head>
        <script src="{{ url_for('static',filename='code.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/sheet.css') }}">
    </head>
    {% block content %}
    <body>
        
        <label class = 'center_label' id="gradebook">Interface</label>
        <div>
            <label>Username: </label>
            <input id="username" type="text" />
        </div>
        <div>
            <label>Password: </label>
            <input id="password" type="text" />
        </div>
        
        <button onclick="readLogin()">Log In</button>
    </body>
    {% endblock %}
</html>