{% extends 'index.html' %}

{% block content %}

<h1>Welcome, <label id="name">name</label></h1>
<h2 class = "titleCenter">University of California Merced</h2>
<div class="tab">
    <button class="tablinks" onclick="fillTableCurrClasses('myTable')">Your Classes</button>
    <button class="tablinks" onclick="fillTableAllClasses('myTable')" style="padding-right: 70%">Add Classes</button>
    <button class="logout" onclick="logOut()">Log Out</button>
</div>
<!--Content for the tabs-->
<div id = "yourClasses">
    <h3 id = "tablelabel">Your Classes</h3>
    <p>
    <body onload="javascript:initialize('myTable')">
        <table id="myTable" class = "center"></table>
        
</body>
    </p>
</div>
{% endblock %}