button {
    display:block;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    background: purple;
}
.center_label {
    padding:5px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}
div {
    padding:5px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}
